.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  margin: 10px;
}
.product-img {
  padding: 20px;
}
.product-info {
  display: flex;
  margin: 20px;
  color: blue;
  font-width: 400px;
  margin: 20px;
}
.product-key {
  margin-left: 70px;
}
.main-button {
  background-color: goldenrod;
  width: 150px;
  hight: 30px;
  border: 1px solid gray;
  border-radius: 5px;
}